//Variable Overrides

$theme-colors: (
    "primary": #782CD9,
    "secondary" :#99abbb,
);
$lightgray: #f8f8f8;
$body-bg: $lightgray;
$font-family-sans-serif: 'Roboto', 'Helvetica', sans-serif;

//Custom Styles

html {
    min-height:101%; 
    margin-bottom:1px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav .nav-link {
    color: var(--secondary) !important;
}

main {
    flex: 1;
}

.expand-menu {
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.jumbotron {
    background: -moz-linear-gradient(-45deg, #23d4d8 0%, #782cd9 100%); 
    background: -webkit-linear-gradient(-45deg, #23d4d8 0%,#782cd9 100%); 
    background: linear-gradient(135deg, #23d4d8 0%,#782cd9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23d4d8', endColorstr='#782cd9',GradientType=1 ); 
    border-radius: 0 !important;
}

.btn {
    box-shadow: 0 5px 10px rgba(0,0,0,.17);
    padding: 8px 24px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    &:hover {
        box-shadow: 0 7px 12px rgba(0,0,0,.15);
        padding: 8px 24px !important;
        transform: translateY(-1px);
    }
}

.card-offsetY {
    transform: translateY(-30%);
}
@media screen and (max-width: 768px) {
    .card-offsetY {
        transform: translateY(0);
    }
};

footer {
    line-height: 2;
    a {
        color: var(--secondary)
    }
    a:hover {
        color: var(--white);
        text-decoration: none;
    }
}

//Bootsrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap";