//Variable Overrides

$theme-colors: (
    "primary": #782CD9
);

$body-bg: #EDEDED;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav .nav-link {
    color: gray;
}

main {
    flex: 1;
}

.expand-menu {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.jumbotron {
    background: -moz-linear-gradient(-45deg, #23d4d8 0%, #782cd9 100%); 
    background: -webkit-linear-gradient(-45deg, #23d4d8 0%,#782cd9 100%); 
    background: linear-gradient(135deg, #23d4d8 0%,#782cd9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23d4d8', endColorstr='#782cd9',GradientType=1 ); 
}

.btn {
    box-shadow: 0 5px 10px rgba(0,0,0,.17);
    padding: 8px 24px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
}

.btn:hover {
    box-shadow: 0 7px 12px rgba(0,0,0,.15);
    padding: 8px 24px !important;
    transform: translateY(-1px);
}

footer {
    padding-bottom: 56px;
    line-height: 2;
    a {
        color: rgba(255,255,255,.7);
    }
    a:hover {color: white !important; text-decoration: none;}

}


$font-family-sans-serif: 'Roboto', 'Helvetica', sans-serif;

//Bootsrap Sass Files
@import "node_modules/bootstrap/scss/bootstrap"